/* roboto-100 - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local(''),
    url('/fonts/roboto-v20-latin-100.woff2') format('woff2'),
    url('/fonts/roboto-v20-latin-100.woff') format('woff');
}

/* roboto-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local(''),
    url('/fonts/roboto-v20-latin-300.woff2') format('woff2'),
    url('/fonts/roboto-v20-latin-300.woff') format('woff');
}

/* roboto-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('/fonts/roboto-v20-latin-regular.woff2') format('woff2'),
    url('/fonts/roboto-v20-latin-regular.woff') format('woff');
}

/* roboto-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('/fonts/roboto-v20-latin-500.woff2') format('woff2'),
    url('/fonts/roboto-v20-latin-500.woff') format('woff');
}

/* roboto-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('/fonts/roboto-v20-latin-700.woff2') format('woff2'),
    url('/fonts/roboto-v20-latin-700.woff') format('woff');
}

/* roboto-900 - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local(''),
    url('/fonts/roboto-v20-latin-900.woff2') format('woff2'),
    url('/fonts/roboto-v20-latin-900.woff') format('woff');
}
